version: "3.9"


services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
      - /app/node_modules        # שומר על החבילות של הבאק-אנד
=======
>>>>>>> 0046873cf7bd3c0a7df31945d7e61c03b8570e3d
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules        # שומר על החבילות של הפרונט-אנד
    depends_on:
      - backend